ul#top_links{
	list-style-type: none;
}
#top_links > li{
	position:relative;
	top: 13%;
	left:-19px;
	float:left;
	margin: 0;
	padding: 0;
	border-style: solid solid none solid;
	border-color: #AAAAAA;
}

.do_not_show {
	display: none;
}

#header{

}

.white-background.black-text
{
	background: white;
	color: black;
	font-size: 12px;
}

.white-background.black-text a {
    color: black;
}

.white-background.black-text label
{
	width: 6em;
}

#ui-accordion-accordion-panel-0 fieldset
{
	border: 1px solid black;
	width: 20%;
}

legend.sex
{
	font-size: 14px;
	color: black;
}

fieldset label
{
	margin-top: 4.5px;
	margin-left: 3px;
}

.asteriks
{
	color: red;
}

.white-background.black-text.change-width label
{
	width: 8em;
}

#ui-accordion-accordion-panel-2 div.textarea label
{
	width: 50%;
}

form#UserLoginForm
{
	float: left;
	clear: none;
	width: 50%;
}

.clear
{
	clear: both;
}

div.actionsNoButton
{
	margin-top: 5px;
	float: left;
}

div.actionsNoButton.users, div.actionsNoButton.client
{
	width: 15%;
}

div.actionsNoButton a
{
	font-size: 12px;
	margin-bottom: 2px;
	display: block;
}

.actionsNoButton .active_link
{
	color: #800606;
	cursor: default;
}

div.users.index
{
	float: left;
	width: 70%;
}

form
{
	width:100%;
}

div.view
{
	float: left;
	width: 70%;
}

div.form.no-border, div.index.no-border
{
	border: 0px;
}

.related
{
	margin-top: 10px;
}

div.feedbacks.index, div.customize.index, div.welcome.index
{
	float: left;
	width: 70%;
}

#image_upload a
{
	text-decoration: none;
}

.clientChecklists dl > dt
{
	width: 35%
}

.clientChecklists dl > dd
{
	margin-left: 13em;
}

#clientsResults thead, #clientsResults tbody
{
	display: table-row-group;
}

#clientsResults
{
	display: table;
}

.dataTables_wrapper .ui-toolbar
{
	background: #0B3E6F;
}