ul#top_links{
	list-style-type: none;
}
#top_links > li{
	position:relative;
	top: 13%;
	left:-19px;
	float:left;
	margin: 0;
	padding: 0;
	border-style: solid solid none solid;
	border-color: #AAAAAA;
}

.do_not_show {
	display: none;
}

#header{

}

.white-background.black-text
{
	background: white;
	color: black;
}